
<%- include ('./adminnav.ejs') %>
<% if (typeof book != "undefined") {%>
<% for (var i = 0; i < book.length; i++) { %>
<div class="card">
  <img src="<%= book[i].book_image%>" alt="Avatar" style="width:100%">
  <form method="post">
  <div class="container">
<fieldset class='float-label-field'>

  <input type="text" value="<%=book[i].name%>" name="name" placeholder="name">
</fieldset>
    <fieldset class='float-label-field'> 
      
      <input type="text" value="<%=book[i].price%>" name="price" placeholder="price">
    </fieldset>
    <fieldset class='float-label-field'>

      <input type="text" value="<%=book[i].instock%>" name="stock" placeholder="stock">
    </fieldset>
    <!-- <fieldset class='float-label-field'> -->
      
      <input type="hidden" value="<%=book[i].id %>" name="id" placeholder="id" >
    <!-- </fieldset> -->
    <fieldset class='float-label-field'>
      
      <input type="text" value="<%=book[i].author %>" name="author" placeholder="author">
    </fieldset>
    <fieldset class='float-label-field'>
      
      <input type="text" value="<%= book[i].description %>" name="description" placeholder="description">
    </fieldset>

<input type="submit" value="UPDATE" onclick="javascript: form.action='/admin/updatebook';"/>
<input type="submit" value="DELETE" onclick="javascript: form.action='/admin/deletebook';"/>
    
  </div>
</div>
</form>
<br>
  <%}%><%}%>